body {
  font-family: "Raleway", sans-serif; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-style: normal;
    font-weight: normal;
    line-height: 30px; }
  body h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px; }
  body h2 {
    font-size: 30px;
    font-weight: 500; }
  body h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 36px; }
  body h4 {
    font-size: 20px; }
  body h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
  body h6 {
    font-size: 16px; }
  body p {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  min-height: 100vh; }

#mount {
  min-height: 100vh; }

a {
  color: inherit;
  text-decoration: none; }

.lib_row {
  display: flex;
  flex-flow: row;
  align-items: center; }
  .lib_row.max-height {
    height: 100%; }
  .lib_row.space-between {
    justify-content: space-between; }

.lib_col {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .lib_col {
      align-items: flex-start;
      text-align: auto; } }
  .lib_col.middle {
    align-items: center; }

.lib_row-item {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center; }

.lib_col-item {
  width: 100%; }

.lib_pill {
  display: inline-flex;
  flex-flow: row;
  cursor: pointer;
  letter-spacing: 3px;
  border-radius: 21.5px;
  overflow: hidden; }
  .lib_pill.yellow {
    border: 2px solid #f8cc29; }

.lib_pill-item {
  padding: 12px 20px; }
  .lib_pill-item.yellow {
    color: #f8cc29; }
    .lib_pill-item.yellow.fill {
      background-color: #f8cc29;
      color: #03022d; }
  .lib_pill-item.white {
    color: #03022d; }
    .lib_pill-item.white.fill {
      background-color: #fff; }

.lib_ellipse {
  background: radial-gradient(300px at 50% 50%, rgba(9, 7, 100, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #03022d;
  height: 1068px;
  width: 1068px; }

.lib_section {
  padding: 40px;
  display: flex; }
  @media (min-width: 768px) {
    .lib_section > * {
      width: 75%;
      text-align: left; } }
  @media (min-width: 992px) {
    .lib_section > * {
      width: 50%; } }
  .lib_section.small {
    padding: 100px; }
  .lib_section.left {
    justify-content: flex-start; }
  .lib_section.right {
    justify-content: flex-end; }
  .lib_section.middle {
    justify-content: center; }
    .lib_section.middle > * {
      width: auto;
      text-align: center; }
  .lib_section.blue {
    background-color: #03022d;
    color: #fff; }
  @media (min-width: 768px) {
    .lib_section {
      padding: 140px; } }

.lib_container {
  padding: 10px 40px 40px 40px;
  background-color: #03022d;
  min-height: calc(100vh - 80px);
  color: #fff;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .lib_container {
      padding: 40px 140px 140px 140px; } }

.lib_container-body {
  max-width: 1000px; }

.navbar-container {
  height: 80px;
  width: 100%; }
  .navbar-container .navbar {
    padding: 20px;
    height: 80px;
    width: 100%;
    background: #03022d;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    letter-spacing: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    .navbar-container .navbar img {
      height: 19px; }
    .navbar-container .navbar a {
      text-decoration: inherit; }
    .navbar-container .navbar .link-item {
      margin-left: 10px;
      display: none; }
      @media (min-width: 768px) {
        .navbar-container .navbar .link-item {
          display: block; } }
    @media (min-width: 768px) {
      .navbar-container .navbar {
        padding: 20px 140px; }
        .navbar-container .navbar .link-item {
          margin-left: 56px; } }

.hamburger-menu {
  padding: 10px; }
  .hamburger-menu a {
    margin: 10px; }

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 17px;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .burger-menu,
    .burger-menu.open {
      display: none; } }

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #f8cc29;
  margin: 4px 0;
  transition: 0.4s; }

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px); }

.burger-menu.open .bar2 {
  opacity: 0; }

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px); }

.home-container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03022d;
  color: #fff;
  z-index: 1;
  height: calc(100vh - 80px); }

.home-container .content .lib_col {
  align-items: center; }
  .home-container .content .lib_col > * {
    margin: 0 0 28px 0; }

.home-container .content img {
  height: 60px; }

@media (min-width: 768px) {
  .home-container .content {
    position: absolute;
    bottom: 100px;
    z-index: 2;
    left: 139px; }
    .home-container .content .lib_col {
      align-items: flex-start; }
      .home-container .content .lib_col img {
        height: 68px; }
      .home-container .content .lib_col h3 {
        letter-spacing: 4px; }
      .home-container .content .lib_col .lib_pill {
        background: #fff;
        color: #03022d;
        letter-spacing: 3px; } }

.home-container .ellipse-container {
  position: relative;
  z-index: 1; }

.home-container .what-is-container {
  background-color: #fff;
  z-index: 2;
  position: relative; }
  .home-container .what-is-container a {
    text-decoration: underline; }

.home-container .footer-container img {
  width: 33px; }
  .home-container .footer-container img.logo {
    width: 156px;
    margin-bottom: 36px; }

.home-container .footer-container a {
  text-decoration: underline; }

.home-container .footer-container h5 {
  margin-bottom: 25px; }

.home-container .footer-container .icons-row {
  width: 200px;
  margin-bottom: 24px; }

.recruitment_heading {
  padding: 20px 0;
  left: 139px;
  z-index: 2; }

.recruitment_content .panel {
  margin: 20px 0; }
  .recruitment_content .panel .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .recruitment_content .panel .name {
    margin-bottom: 10px;
    color: #f8cc29;
    font-weight: 500; }
  .recruitment_content .panel .role {
    flex: 0 1 100%;
    padding-right: 0px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .recruitment_content .panel .role {
        flex: 0 1 50%;
        padding-right: 50px; } }
    @media (min-width: 992px) {
      .recruitment_content .panel .role {
        flex: 0 1 33%;
        padding-right: 50px; } }
    .recruitment_content .panel .role .icon {
      text-align: center;
      height: 120px;
      margin-bottom: 20px; }
  .recruitment_content .panel .step {
    flex: 0 1 100%;
    padding-right: 0px;
    margin-bottom: 50px; }
    @media (min-width: 992px) {
      .recruitment_content .panel .step {
        flex: 0 1 50%;
        padding-right: 50px; } }
    .recruitment_content .panel .step .number-container {
      display: inline-block;
      margin-right: 20px; }
      .recruitment_content .panel .step .number-container .number {
        background-color: #fff;
        color: #03022d;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        text-align: center;
        padding: 10px; }
    .recruitment_content .panel .step .container-row {
      display: flex;
      flex-direction: row; }
    .recruitment_content .panel .step .text-container {
      display: inline-block; }
  .recruitment_content .panel .date {
    padding-right: 50px;
    margin-bottom: 50px; }

.recruitment_content .jumbo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .recruitment_content .jumbo {
      margin-bottom: 0; } }
  @media (min-width: 0) {
    .recruitment_content .jumbo .text-container {
      flex: 0 1 100%; } }
  @media (min-width: 992px) {
    .recruitment_content .jumbo .text-container {
      flex: 0 1 60%; } }
  @media (min-width: 0) {
    .recruitment_content .jumbo .img-container {
      text-align: center;
      flex: 0 1 100%; }
      .recruitment_content .jumbo .img-container img {
        height: 300px;
        margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .recruitment_content .jumbo .img-container {
      text-align: right;
      flex: 0 1 40%; }
      .recruitment_content .jumbo .img-container img {
        height: auto;
        margin-bottom: 0; } }

.projects_panel {
  margin-top: 30px;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .projects_panel .project_image {
    background-color: #fff;
    margin: auto;
    text-align: center;
    width: 100%;
    border: 40px solid #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .projects_panel .project_image:before {
      content: '';
      padding: 50% 0;
      /* vertical value as  100% equals width */
      display: inline-block;
      vertical-align: middle; }
    .projects_panel .project_image img {
      max-height: 100%;
      max-width: 100%; }
    @media (min-width: 768px) {
      .projects_panel .project_image {
        flex: 1; } }
  .projects_panel .projects_text {
    margin: 30px 0;
    white-space: pre-line; }
    .projects_panel .projects_text h1 {
      color: #f8cc29;
      text-align: center; }
      @media (min-width: 768px) {
        .projects_panel .projects_text h1 {
          text-align: left; } }
    @media (min-width: 768px) {
      .projects_panel .projects_text {
        flex: 3;
        margin: auto;
        margin-left: 60px; }
        .projects_panel .projects_text.left {
          margin: auto;
          margin-right: 60px; } }
  @media (min-width: 768px) {
    .projects_panel {
      flex-flow: row;
      border-bottom: none; }
      .projects_panel:nth-of-type(2n) {
        flex-flow: row-reverse; } }

